
/* Base Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: .625rem;
}

button {
  border: none;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
}

input {
  font-family: inherit;
}

.container {
  padding: 0 2rem;
}

/* Header Styles */
.header {
  padding: 2rem 0;
}

.page-heading {
  font-size: 2.8rem;
  line-height: 1.05;
}

/* Main */

/* City Search */
.city-search {
  padding: 2rem 0;
}

.city-search-heading {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.search-input {
  padding: .5rem;
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

.search-btn {
  background-color: lightblue;
  padding: 1rem;
  width: 100%;
  border-radius: 4px;
  color: white;
  font-size: 1.8rem;
}

/* Search History */
.search-history {
  padding: 2rem 0;
}

.search-history-heading {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.search-history-list {
  max-height: 0;
  overflow: hidden;
  transition: max-height 250ms;
}

.search-history-item {
  font-size: 1.4rem;
  background-color: antiquewhite;
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.search-history-item:last-of-type {
  margin-bottom: 0;
}

/* Forcast */
.forcast {
  padding: 4rem 0 2rem;
}

/* Primary Forcast */
.primary-forcast {
  border: 4px solid lightblue;
  border-radius: 4px;
  padding: 2rem;
}

.primary-forcast-city {
  font-size: 2.4rem;
  line-height: 1.4;
}

.primary-forcast p {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.primary-forcast p:last-of-type {
  margin-bottom: 0;
}

/* Other Forcast */
.other-forcast {
  padding: 6rem 0 2rem;
}

.other-forcast-heading {
  font-size: 2.4rem;
  margin-bottom: 3rem;
}

.forcast-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid lavender;
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

.forcast-card:last-of-type {
  margin-bottom: 0;
}

.forcast-card-img {
  width: 75px;
}

.forcast-card-temp,
.forcast-card-wind {
  margin-bottom: .5rem;
}