
:root {
  --dark-purple: #1E015B;
  --light-blue: #54C1FB;
  --purple: #5271FF;
  --light-gray-blue: #F4F6FF;
}

/* Base Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: .625rem;
}

body {
  color: var( --dark-purple );
}

button {
  border: none;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
}

input {
  font-family: inherit;
  color: inherit;
}

.container {
  padding: 0 2rem;
  max-width: 425px;
  margin: auto;
}

/* Header Styles */
.header {
  padding: 2rem 0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 100px;
}

.page-heading {
  font-size: 2.4rem;
  line-height: 1.05;
  width: 140px;
  font-weight: 600;
  color: var( --purple );
}

.page-heading-alt {
  color: var( --dark-purple );
}

/* Main */

/* City Search */
.city-search {
  padding: 6rem 0 2rem;
}

.city-search-heading {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.search-input {
  background-color: var(--light-gray-blue);
  color: hsla(259.33deg, 97.83%, 18.04%, .5);
  font-size: 1.6rem;
  display: block;
  width: 100%;
  padding: 1.2rem 1rem;
  margin-bottom: 1.5rem;
  border: none;
  border-radius: 4px;
  outline: none;
}

.search-btn {
  background-color: var( --purple );
  padding: 1rem;
  width: 100%;
  border-radius: 4px;
  color: white;
  font-size: 1.8rem;
}

/* Search History */
.search-history {
  padding: 2rem 0;
  color: hsla(259.33deg, 97.83%, 18.04%, .5);
}

.search-history-btn {
  font-size: 1.8rem;
  font-weight: 600;
  display: block;
  width: 100%;
  background-color: var( --light-gray-blue );
  padding: 1rem;
  border-radius: 4px;
}

.search-history-icon {
  margin-left: .5rem;
}

.search-history-list {
  max-height: 0;
  overflow: hidden;
  transition: max-height 250ms;
  padding-top: 2rem;
}

.search-history-item {
  font-size: 1.4rem;
  padding: 1.5rem 1rem;
  border-radius: 4px;
}

.search-history-item:nth-child( odd ) {
  background-color: var( --light-gray-blue );
}

.search-history-item:last-of-type {
  margin-bottom: 0;
}

/* Forcast */
.forcast {
  padding: 4rem 0 2rem;
}

/* Primary Forcast */
.primary-forcast {
  border-radius: 4px;
  padding: 2rem;
  background: linear-gradient(45deg, #F4F6FF, transparent);
}

.primary-forcast-city {
  font-size: 2.4rem;
  line-height: 1.4;
  color: var(--purple);
  font-weight: 600;
}

.primary-forcast p {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.primary-forcast p:last-of-type {
  margin-bottom: 0;
}

/* Other Forcast */
.other-forcast {
  padding: 6rem 0 2rem;
}

.other-forcast-heading {
  font-size: 2.4rem;
  margin-bottom: 3rem;
  font-weight: 600;
}

.forcast-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 3px solid var( --light-gray-blue );
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

.forcast-card:last-of-type {
  margin-bottom: 0;
}

.forcast-card-date {
  color: var( --purple );
}

.forcast-card-img {
  width: 75px;
}

.forcast-card-temp,
.forcast-card-wind {
  margin-bottom: .5rem;
}

/* Media Queries */

@media screen and ( min-width: 768px ) {

  /* Base Styles */
  .container {
    max-width: 750px;
  }

  /* Header */
  .header {
    padding: 4rem 0;
  }
  
  .header-logo {
    width: 175px;
  }

  .page-heading {
    font-size: 3.8rem;
    width: auto;
  }

  /* Main */
  .main {
    padding-top: 6rem;
  }

  .main-container {
    display: flex;
    justify-content: space-between;
  }

  /* Search */
  .search{
    width: 40%;
  }

  /* City Search */
  .city-search {
    padding-top: 0;
  }

  /* Forcast */
  .forcast {
    width: 55%;
    padding-top: 0;
  }

  /* Primary Forcast */
  .primary-forcast {
    padding: 3rem;
  }

  .primary-forcast-city {
    margin-bottom: 2rem;
  }

  .primary-forcast-img {
    margin-bottom: 2rem;
  }

  .primary-forcast p {
    margin-bottom: 1.5rem;
  }

  .primary-forcast p:last-of-type {
    margin-bottom: 0;
  }

  /* Other Forcast */
  .forcast-card {
    font-size: 1.4rem;
  }
}

@media screen and ( min-width: 1200px ) {
  /* Base Styles */
  .container {
    max-width: 1160px;
  }

  /* Search */
  .search {
    width: 30%;
  }

  /* Search History */
  .search-history-item {
    font-size: 1.6rem;
  }

  /* Forcast */
  .forcast {
    width: 65%;
  }

  /* Primary Forcast */
  .primary-forcast-city {
    font-size: 3.2rem;
  }

  .primary-forcast-img {
    width: 150px;
  }

  .primary-forcast p {
    font-size: 2rem;
  }

  /* Other Forcast */
  .other-forcast-cards {
    display: flex;
    flex-wrap: wrap;
  }

  .forcast-card {
    font-size: 1.6rem;
  }

  .forcast-card:nth-child( odd ) {
    margin-right: 2rem;
  }

  .forcast-card-img {
    width: 100px;
  }

  .forcast-card {
    margin-bottom: 2rem;
  }

  .forcast-card:last-of-type {
    margin-bottom: 0;
  }
}