
/* Base Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: .625rem;
}

button {
  border: none;
  background-color: transparent;
  color: inherit;
}

.container {
  padding-left: 2rem;
  padding-right: 2rem;
}

/* Header Styles */
.header {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.page-heading {
  font-size: 2.8rem;
  line-height: 1.05;
}